

<div class="container">
	<h1>Live Weather</h1>
	<br>
	<div class="row">
		<div class="col-sm"><button class="btn btn-outline-primary" (click)="sorting()">Change order</button></div>
		<div class="col-sm">Order is: {{current_order}}</div>
	</div>
	<br>
	<div class="row">
		<div class="col-sm card block" *ngFor="let city_info of cities_info" style="margin-right: 5px;">
			<div class="card-body" >
				<h5 class="card-title">{{ city_info.city_name }}</h5>
				<p class="card-text">Current Temprature: {{ city_info.city_temp }}°C</p>
				<a [routerLink]="['/forecast',{name:city_info.city_name}]" class="btn btn-primary">See Forecast</a>
			</div>
		</div>
	</div>
	<br>
	<router-outlet></router-outlet>
</div>