
<h1>Week Forecast</h1>
<h3>{{city_name}}</h3> 
<br>
	<div class="row container">
		<div class="col-sm-4 card forecast_box"*ngFor="let d of data" style="margin: 5px;">
			<div class="row" style="padding:10px;">
				<div class="col-sm-6">
					<img class="img-thumbnail"  *ngIf="d.desc == 'clear sky'" src="/images/sunny.gif" />
					<img class="img-thumbnail"  *ngIf="d.desc == 'few clouds'" src="/images/clear.gif" />
					<img class="img-thumbnail"  *ngIf="d.desc == 'scattered clouds'" src="/images/cloudy.gif" />
					<img class="img-thumbnail"  *ngIf="d.desc == 'broken clouds'" src="/images/int_clouds.gif" />
					<img class="img-thumbnail"  *ngIf="d.desc == 'shower rain'" src="/images/rain.gif" />
					<img class="img-thumbnail"  *ngIf="d.desc == 'light rain'" src="/images/light_rain.gif" />
					<img class="img-thumbnail"  *ngIf="d.desc == 'thunderstorm'" src="/images/thunderstorms.gif" />
					<img class="img-thumbnail"  *ngIf="d.desc == 'snow'" src="/images/snow.gif" />
					<img class="img-thumbnail"  *ngIf="d.desc == 'mist'" src="/images/fog.gif" />
					<img class="img-thumbnail"  *ngIf="d.desc == 'overcast clouds'" src="/images/int_clouds.gif" />
				</div>
				<div class="col-sm-6" style="float:right;">
					<h6 class="card-title forecast_data">Day: {{ d.day }}</h6>
					<p class="card-text forecast_data">Temprature: {{ d.temp }} °C<br>
					Forecast: {{ d.desc | uppercase }}</p>
				</div>
			</div>
		</div>
	</div>