img {
	height:200px;
	width: 200px;
}
@media (max-width: 1050px) {
    .block {
        min-width:100%;
		margin-bottom: 5px;
    }
}

@media (max-width: 1200px){
	.forecast_box {
		min-width:100%;
		margin-bottom: 5px;
	}
	
	img {
		width:70%;
		border-radius:100px;
	}
}

